// Templates override this file with their own SCSS styling.

#banner .section-heading h1 { 
    color: white;
    text-align: left;
}

#banner .section-heading p {
    color: white;
    text-align: left;
}


figure img {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }