/* CSS styles */

body {
  margin: 0;
  padding: 0;
}

.title-block-banner-color {
  color: #ffffff;
}

.splash {
  background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.column {
  padding: 1em;
}